{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}




<h2>{{ 'Edit Task' if edit_todo else 'Add Task' }}</h2>

<form method="POST">
    {% if edit_todo %}
        <input type="hidden" name="id" value="{{ edit_todo.Id }}">
    {% endif %}

    <input type="text" name="task" class="form-control"
           value="{{ edit_todo.Task if edit_todo else '' }}"
           placeholder="Enter task" required>

    <button type="submit" class="btn btn-primary" >
        {{ 'Update' if edit_todo else 'Add' }}
    </button>
</form>

<hr>

<ul>
    {% for todo in todos %}
        <li>
            {{ todo.Task }}
            <a href="/?edit_id={{ todo.Id }}">Edit</a>
            <a href="/delete/{{ todo.Id }}">Delete</a>
        </li>
    {% endfor %}
</ul>


<a href="/logout">logout</a>
<p>{{email}}</p>

{% endblock %}





